.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
  gap: 1rem;
  padding-bottom: 0;
}

.header a {
  width: 1.875rem;
  height: 1.875rem;
}
.svg {
  width: 100%;
  height: 100%;
}
