.restoreMarkup {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.restoreMarkup input {
  border: 1px solid #9c9ea1e2;
  
  margin-bottom: 2rem;
  width: 100%;
}
.signIn {
  text-align: center;
}
.buttons{
  margin-top: 1rem;
}
.error{
  text-align: center;
  color: red;
   margin-bottom: 1rem;
  
  
}





